# Graphics HAL services

service vendor.gralloc-v2 /vendor/bin/hw/mt6789/android.hardware.graphics.allocator-V2-service-mediatek.mt6789
    class hal animation
    interface android.hardware.graphics.allocator@3.0::IAllocator default
    user system
    group graphics drmrpc
    capabilities SYS_NICE
    onrestart restart surfaceflinger
    task_profiles ProcessCapacityHigh HighPerformance
    override

service vendor.hwcomposer-3-4 /vendor/bin/hw/android.hardware.graphics.composer@3.4-service
    class hal animation
    user system
    group graphics drmrpc
    capabilities SYS_NICE
    onrestart restart surfaceflinger
    task_profiles ProcessCapacityHigh HighPerformance
    override
